#block-reassurance {
  margin-top: 2rem;

  img {
    width: 1.563rem;
    margin-right: 0.625rem;
  }

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child {
      border: 0;
    }
  }

  li .block-reassurance-item {
    padding: 1rem 1.5rem;
  }

  #product & {
    @include box-shadow();
    background: #fff;

    span {
      font-weight: 700;
    }
  }
}
#product{
  .blockreassurance_product{
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between ;
    }
  
    &--item{
      display: flex;
      padding: 0 15px;
      @include media-breakpoint-up(lg) {
        width: 33%;
      }
      .item-product{
        margin-right: $small-space;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $brand-quaternary;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0;
        svg{
          max-height: 70%;
        }
        path{
          fill: $brand-primary;
        }
      }
    }
  }
}
